# all ignore
/*
/.**

## config
!/.config/
!/.config/**

### Secrets
/.config/gh/**
!/.config/gh/config.yml

## Nix
!/*.nix
!/flake.lock
!/home-manager/
!/home-manager/**
!/nix-darwin/
!/nix-darwin/**
**/.claude/settings.local.json

# global #
!/README.md
!/LICENSE
!.gitignore
